.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 6.25rem;
}

.leftSideHeader {
  display: flex;
  align-items: center;
}

.logo {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.625rem;
}

.nameAndRole {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.myName {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.myRole {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  color: #666;
}

.headerRight {
  display: flex;
  gap: 1rem;
  margin-right: 1.8875rem;
}

.navLink {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}
.hamburgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    justify-content: none;
  }
  .leftSideHeader {
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .headerRight {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    margin-right: 2rem;
  }
  .logo {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 1rem;
    top: 0rem;
  }

  .myName {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #333;
  }

  .myRole {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    color: #666;
  }
}
