.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}
.popup {
  background: #fff;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 25rem;
  z-index: 1001;
  background-color: var(--main-color);
}

.headline {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  color: black;
}
.content {
  font-size: 1rem;
  font-weight: regular;
  padding: 1.5rem;
  text-align: center;
  color: black;
}
.button {
  padding: 0.1rem 1rem;
  border-radius: 0.313rem;
  background-color: #ffffff;
  color: "black";
  cursor: pointer;
}
.image {
  width: 10%;
  height: auto;
  max-width: 31.25rem;
  margin: 0 auto;
  display: block;
  padding-bottom: 1.25rem;
}
.button:hover {
  border: none;
}
