@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
p,
h1,
h2,
h3,
li {
  font-family: "Lora", serif;
  color: #545454;
}
.resume {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--main-color);
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
}
.buttonContainer {
  display: flex;
  width: 100%;
}
.downloadButton {
  background-color: black;
  color: #ffffff;
  border-radius: 3rem;
  font-family: "Lora", serif;
  margin-top: 5%;
  transition: all 0.3s ease;
  border: none;
  padding: 1.5rem 1rem;
}
.downloadButton:hover {
  background-color: #ffffff;
  color: black;
  transform: scale(1.1);
}
.a4 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 80%;
  background-color: #ffffff;
  margin-top: 4%;
  margin-bottom: 10%;
}
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.625rem;
}
.topic {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (max-width: 768px) {
  .a4 {
    width: 92%;
  }
}
